Repository Open-Education-Hub/ccas, changes with the labels that .github/labeler.yml gives for each.
All labels: topic/functions, topic/multivar-power, topic/numbers-indices, topic/vectors-matrix, area/quiz, area/content, area/code, area/infra, area/assignment

Makefile: Improve Make commands
  Makefile
Labels: none

config.yaml: Update config for proper layout
  config.yaml
Labels: area/infra

task: Update pipelines
  .github/workflows/.gitleaks.toml
  .github/workflows/.jscpd.json
  .github/workflows/actions.yml
  .github/workflows/config/config.json
  .github/workflows/deployment.yml
  .github/workflows/labeler.yml
  .github/workflows/os-runner.yml
  .github/workflows/rules/common/inlineTokenChildren.js
  .github/workflows/rules/common/wordPattern.js
  .github/workflows/rules/md101.js
  .github/workflows/rules/md102.js
  .github/workflows/rules/md103.js
  .github/workflows/rules/md104.js
  .github/workflows/rules/rules.js
  .github/workflows/super-linter.yml
Labels: area/infra

task: Update pipelines
  .github/workflows/.gitleaks.toml
  .github/workflows/.jscpd.json
  .github/workflows/actions.yml
  .github/workflows/config/config.json
  .github/workflows/deployment.yml
  .github/workflows/labeler.yml
  .github/workflows/os-runner.yml
  .github/workflows/rules/common/inlineTokenChildren.js
  .github/workflows/rules/common/wordPattern.js
  .github/workflows/rules/md101.js
  .github/workflows/rules/md102.js
  .github/workflows/rules/md103.js
  .github/workflows/rules/md104.js
  .github/workflows/rules/rules.js
  .github/workflows/super-linter.yml
Labels: area/infra

fix: Fix typo for load image step
  .github/scripts/add-labels.js
  .github/scripts/package.json
  .github/workflows/deployment.yml
Labels: area/infra

fix: Fix typo for load image step
  .github/scripts/add-labels.js
  .github/scripts/package.json
  .github/workflows/deployment.yml
Labels: area/infra

Dockerfile: Update for CCAS contents
  Dockerfile
Labels: area/infra

Introduce Makefile to build repository
  Makefile
Labels: none

Add global .gitignore file
  .gitignore
Labels: none

Makefile: Improve Make commands
  Makefile
Labels: none

config.yaml: Update config for proper layout
  config.yaml
Labels: area/infra

Add content for functions/applications-differentiation
  chapters/functions/applications-differentiation/reading/README.md
  chapters/functions/applications-differentiation/reading/read.md
Labels: none

Add content for functions/central-limit-theorem
  chapters/functions/central-limit-theorem/media/18_1_The_Central_Limit_Theorem.png
  chapters/functions/central-limit-theorem/media/18_3_Monte_Carlo_simulation.png
  chapters/functions/central-limit-theorem/reading/README.md
  chapters/functions/central-limit-theorem/reading/read.md
Labels: area/content

Add content for functions/continuity-limits
  chapters/functions/continuity-limits/media/11_1_The_concept_of_continuity.png
  chapters/functions/continuity-limits/media/11_2_Discrete_probabilities_and_cumulative_distribution_functions.png
  chapters/functions/continuity-limits/media/11_3_Notes_on_discontinuous_function.png
  chapters/functions/continuity-limits/media/11_4_Continuity_of_polynomials.png
  chapters/functions/continuity-limits/media/11_5_Simple_limits.png
  chapters/functions/continuity-limits/media/11_6_More_on_limits.png
  chapters/functions/continuity-limits/media/11_7_one-sided_limits.png
  chapters/functions/continuity-limits/reading/README.md
  chapters/functions/continuity-limits/reading/read.md
Labels: area/content

Add content for functions/integrals-prob-density-funcs
  chapters/functions/integrals-prob-density-funcs/media/16_1_Area_under_a_curve.png
  chapters/functions/integrals-prob-density-funcs/media/16_4_Density_functions.png
  chapters/functions/integrals-prob-density-funcs/reading/README.md
  chapters/functions/integrals-prob-density-funcs/reading/read.md
Labels: area/content

Add content for functions/programming-principles
  chapters/functions/programming-principles/reading/README.md
  chapters/functions/programming-principles/reading/read.md
Labels: none

Add content for functions/sequences-series
  chapters/functions/sequences-series/reading/README.md
  chapters/functions/sequences-series/reading/read.md
Labels: none

Add content for multivariate-to-power/distributions-normal
  chapters/multivariate-to-power/distributions-normal/media/21_2_The_Chi-square_distribution.png
  chapters/multivariate-to-power/distributions-normal/media/21_3_Sum_of_Chi_square_Distributions.png
  chapters/multivariate-to-power/distributions-normal/reading/README.md
  chapters/multivariate-to-power/distributions-normal/reading/read.md
Labels: area/content

Add content for multivariate-to-power/estimation
  chapters/multivariate-to-power/estimation/media/22_3_Ordinary_least_squares.png
  chapters/multivariate-to-power/estimation/media/22_5_Estimators_and_estimates.png
  chapters/multivariate-to-power/estimation/reading/README.md
  chapters/multivariate-to-power/estimation/reading/read.md
Labels: area/content

Add content for multivariate-to-power/test-hypothesis-p-values
  chapters/multivariate-to-power/test-hypothesis-p-values/reading/README.md
  chapters/multivariate-to-power/test-hypothesis-p-values/reading/read.md
Labels: none

Add content for numbers-to-indices/data-vectors
  chapters/numbers-to-indices/data-vectors/media/2_2_Simple_plots_in_R.png
  chapters/numbers-to-indices/data-vectors/reading/README.md
  chapters/numbers-to-indices/data-vectors/reading/read.md
Labels: area/content

Add content for numbers-to-indices/discrete-random-vars-binomial-distribution
  chapters/numbers-to-indices/discrete-random-vars-binomial-distribution/reading/README.md
  chapters/numbers-to-indices/discrete-random-vars-binomial-distribution/reading/read.md
Labels: none

Add content for numbers-to-indices/indices-apply-commands-r
  chapters/numbers-to-indices/indices-apply-commands-r/reading/README.md
  chapters/numbers-to-indices/indices-apply-commands-r/reading/read.md
Labels: none

Add content for numbers-to-indices/more-algebra
  chapters/numbers-to-indices/more-algebra/reading/README.md
  chapters/numbers-to-indices/more-algebra/reading/read.md
Labels: none

Add content for numbers-to-indices/numbers-arithmetic-basic-algebra
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/media/1_4_Rational_numbers.png
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/media/1_5_The_real_line.png
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/reading/README.md
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/reading/read.md
Labels: area/content

Add content for numbers-to-indices/polynomials
  chapters/numbers-to-indices/polynomials/media/6_2_The_quadratic.png
  chapters/numbers-to-indices/polynomials/media/6_3_The_Cubic.png
  chapters/numbers-to-indices/polynomials/media/6_4_The_Quartic.png
  chapters/numbers-to-indices/polynomials/reading/README.md
  chapters/numbers-to-indices/polynomials/reading/read.md
Labels: area/content

Add content for numbers-to-indices/simple-data-analysis-r
  chapters/numbers-to-indices/simple-data-analysis-r/media/7_2_Histograms.png
  chapters/numbers-to-indices/simple-data-analysis-r/media/7_3_Bar_Charts.png
  chapters/numbers-to-indices/simple-data-analysis-r/media/7_5_Scatter_plots_and_correlation.png
  chapters/numbers-to-indices/simple-data-analysis-r/reading/README.md
  chapters/numbers-to-indices/simple-data-analysis-r/reading/read.md
Labels: area/content

Add content for vectors-matrix-ops/examples-linear-model
  chapters/vectors-matrix-ops/examples-linear-model/media/32_1_Simple_linear_regression_in_R.png
  chapters/vectors-matrix-ops/examples-linear-model/reading/README.md
  chapters/vectors-matrix-ops/examples-linear-model/reading/read.md
Labels: area/content

Add content for vectors-matrix-ops/gamma-distribution
  chapters/vectors-matrix-ops/gamma-distribution/reading/README.md
  chapters/vectors-matrix-ops/gamma-distribution/reading/read.md
Labels: none

Add content for vectors-matrix-ops/independence
  chapters/vectors-matrix-ops/independence/reading/README.md
  chapters/vectors-matrix-ops/independence/reading/read.md
Labels: none

Add content for vectors-matrix-ops/matrices-linear-operators
  chapters/vectors-matrix-ops/matrices-linear-operators/reading/README.md
  chapters/vectors-matrix-ops/matrices-linear-operators/reading/read.md
Labels: none

Add content for vectors-matrix-ops/multivariate-normal-distribution
  chapters/vectors-matrix-ops/multivariate-normal-distribution/reading/README.md
  chapters/vectors-matrix-ops/multivariate-normal-distribution/reading/read.md
Labels: none

Add content for vectors-matrix-ops/ranks-determinants
  chapters/vectors-matrix-ops/ranks-determinants/reading/README.md
  chapters/vectors-matrix-ops/ranks-determinants/reading/read.md
Labels: none

Add content for vectors-matrix-ops/regression-topics
  chapters/vectors-matrix-ops/regression-topics/reading/README.md
  chapters/vectors-matrix-ops/regression-topics/reading/read.md
Labels: none

Add content for vectors-matrix-ops/overview
  chapters/vectors-matrix-ops/overview/reading/README.md
  chapters/vectors-matrix-ops/overview/reading/read.md
Labels: none

Add content for numbers-to-indices/overview
  chapters/numbers-to-indices/overview/reading/README.md
  chapters/numbers-to-indices/overview/reading/read.md
Labels: none

Add content for multivariate-to-power/overview
  chapters/multivariate-to-power/overview/reading/README.md
  chapters/multivariate-to-power/overview/reading/read.md
Labels: none

Add content for functions/overview
  chapters/functions/overview/reading/README.md
  chapters/functions/overview/reading/read.md
Labels: none

config.yaml: Update configuration for publishing
  config.yaml
Labels: area/infra

Add content for functions/functions-of-functions.exponential
  chapters/functions/functions-of-functions.exponential/media/9_1_Exponential_growth_and_decline.png
  chapters/functions/functions-of-functions.exponential/reading/README.md
  chapters/functions/functions-of-functions.exponential/reading/read.md
Labels: area/content

.github/labeler.yml:

topic/functions:
  - content/chapters/functions/**/*

topic/multivar-power:
  - content/chapters/multivariate-to-power/**/*

topic/numbers-indices:
  - content/chapters/numbers-to-indices/**/*

topic/vectors-matrix:
  - content/chapters/vectors-matrix-ops/**/*

area/quiz:
  - '**/quiz/*'

area/content:
  - '*.md'
  - '**/media/**/*'
  - '**/*.mdpp'

area/code:
  - '**/lab/support/**/*'
  - '**/lab/solution/**/*'
  - '**/lecture/demo/**/*'

area/infra:
  - 'util/**/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'config.yaml'

area/assignment:
  - content/assignments/**/*
