Repository Open-Education-Hub/ccas, changes with the labels that .github/labeler.yml gives for each.
All labels: topic/functions, topic/multivar-power, topic/numbers-indices, topic/vectors-matrix, area/quiz, area/content, area/code, area/infra, area/assignment

.github/labeler.yml:

topic/functions:
  - content/chapters/functions/**/*

topic/multivar-power:
  - content/chapters/multivariate-to-power/**/*

topic/numbers-indices:
  - content/chapters/numbers-to-indices/**/*

topic/vectors-matrix:
  - content/chapters/vectors-matrix-ops/**/*

area/quiz:
  - '**/quiz/*'

area/content:
  - '*.md'
  - '**/media/**/*'
  - '**/*.mdpp'

area/code:
  - '**/lab/support/**/*'
  - '**/lab/solution/**/*'
  - '**/lecture/demo/**/*'

area/infra:
  - 'util/**/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'config.yaml'

area/assignment:
  - content/assignments/**/*

Add content for multivariate-to-power/test-hypothesis-p-values
  chapters/multivariate-to-power/test-hypothesis-p-values/reading/README.md
  chapters/multivariate-to-power/test-hypothesis-p-values/reading/read.md
Labels: none

Add content for multivariate-to-power/multivariate-prob-distributions
  chapters/multivariate-to-power/multivariate-prob-distributions/media/20_2_The_random_sample.png
  chapters/multivariate-to-power/multivariate-prob-distributions/media/20_4_The_sum_of_two_continuous_random_variables.png
  chapters/multivariate-to-power/multivariate-prob-distributions/reading/README.md
  chapters/multivariate-to-power/multivariate-prob-distributions/reading/read.md
Labels: area/content

Add content for multivariate-to-power/overview
  chapters/multivariate-to-power/overview/reading/README.md
  chapters/multivariate-to-power/overview/reading/read.md
Labels: none

Add content for numbers-to-indices/numbers-arithmetic-basic-algebra
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/media/1_4_Rational_numbers.png
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/media/1_5_The_real_line.png
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/reading/README.md
  chapters/numbers-to-indices/numbers-arithmetic-basic-algebra/reading/read.md
Labels: area/content

Add content for numbers-to-indices/functions
  chapters/numbers-to-indices/functions/media/5_1_Functions_of_a_single_variable.png
  chapters/numbers-to-indices/functions/media/5_2_Functions_in_R.png
  chapters/numbers-to-indices/functions/reading/README.md
  chapters/numbers-to-indices/functions/reading/read.md
Labels: area/content

Add content for vectors-matrix-ops/multivariate-calculus
  chapters/vectors-matrix-ops/multivariate-calculus/reading/README.md
  chapters/vectors-matrix-ops/multivariate-calculus/reading/read.md
Labels: none

README.md: Update to new content structure
  README.md
Labels: area/content

Add content for vectors-matrix-ops/multivariate-calculus
  chapters/vectors-matrix-ops/multivariate-calculus/reading/README.md
  chapters/vectors-matrix-ops/multivariate-calculus/reading/read.md
Labels: none

config.yaml: Update configuration for publishing
  config.yaml
Labels: area/infra

landing-page: Move to chapters
  chapters/landing-page/README.md
  config.yaml
  landing-page/README.md
Labels: area/infra

landing-page: Move to chapters
  chapters/landing-page/README.md
  config.yaml
  landing-page/README.md
Labels: area/infra
